.custom-map {
    height: 244px;
    width: 100%;
    border-radius: 10px; /* Bordas arredondadas */
border: 2px solid hsl(60, 2%, 25%); /* Borda sólida */
    box-shadow: 0px 0px 10px rgb(43, 42, 40); /* Sombra */
    margin: auto;
    
}
